<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaydi.ruby"
    android:versionCode="13"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".application.RubyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_ruby"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".location.tracking.TrackingRestartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="TrackingRestartReceiver" >
            <intent-filter>
                <action android:name="com.jaydi.ruby.intent.action.RESTART_TRACKING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".location.tracking.TrackingReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="TrackingReceiver" >
        </receiver>
        <receiver
            android:name=".beacon.scanning.BluetoothStateReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BluetoothStateReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".beacon.scanning.ScanningCommandReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="ScanningCommandReceiver" >
            <intent-filter>
                <action android:name="com.jaydi.ruby.intent.action.RESTART_SCANNING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".location.tracking.TrackingService" />
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:isolatedProcess="false"
            android:label="beacon" >
        </service>
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true" >
        </service>
        <service android:name=".gcm.GcmIntentService" />

        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_guide"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.kakao.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".EmailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_email"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_phone"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".VerCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_ver_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".RubymineActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_rubymine"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".GemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_gem"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".SocialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_social"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MyCouponsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_my_coupons"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".CouponActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_coupon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".RubyNoticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_ruby_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".RecommendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_recommend"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name=".EventNoticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_event_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
    </application>

</manifest>